# Tell version control system to ignore cached compiled bytecode.
__pycache__
.pytest_cache

# The version control system should not track a virtual environment
# Make a very generic pattern to ignore any virtual environments that
# developers make, based on the common usage of "env" in the name.
# This can be made more specific in future if needed.
*env*

# Ignore IDE configuration.
.vscode
